@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #ff7b54;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
